In [0]:
import matplotlib.pyplot as plt
import pandas as pd

In [129]:
df=pd.read_csv('employee_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
Unnamed: 0          1000 non-null int64
id                  1000 non-null int64
groups              1000 non-null object
age                 1000 non-null int64
healthy_eating      1000 non-null int64
active_lifestyle    1000 non-null int64
salary              1000 non-null int64
dtypes: int64(6), object(1)
memory usage: 54.8+ KB

In [130]:
df.head(5)

   Unnamed: 0  id groups  age  healthy_eating  active_lifestyle  salary
0           0   0      A   36               5                 5    2297
1           1   1      A   55               3                 5    1134
2           2   2      A   61               8                 1    4969
3           3   3      O   29               3                 6     902
4           4   4      O   34               6                 2    3574

In [131]:
df.iloc[0:,2:].head(4)

  groups  age  healthy_eating  active_lifestyle  salary
0      A   36               5                 5    2297
1      A   55               3                 5    1134
2      A   61               8                 1    4969
3      O   29               3                 6     902

In [132]:
features=df.iloc[:,2:6].values
features

array([['A', 36, 5, 5],
       ['A', 55, 3, 5],
       ['A', 61, 8, 1],
       ...,
       ['O', 49, 9, 7],
       ['AB', 56, 6, 7],
       ['B', 64, 4, 9]], dtype=object)

In [0]:
label=df.iloc[:,6].values
label

In [0]:
# Label Encoding the blood group
from sklearn.preprocessing import LabelEncoder

In [0]:
le=LabelEncoder()

In [136]:
features[:,0] = le.fit_transform(features[:,0])
print(features)

[[0 36 5 5]
 [0 55 3 5]
 [0 61 8 1]
 ...
 [3 49 9 7]
 [1 56 6 7]
 [2 64 4 9]]

In [0]:
# Splitting the data into training and testing
from sklearn.model_selection import train_test_split
train_data,test_data,train_label,test_label =  train_test_split(features,label,test_size=0.1)

In [0]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()

In [0]:
trained=clf.fit(train_data,train_label)

In [0]:
predicted=trained.predict(test_data)

In [141]:
predicted

array([2643, 3342, 3577, 1484, 2297, 2996, 2414,  902,  896, 2414, 1718,
       3228, 3460, 2065, 1017, 2646,  902,  553, 4622,  788, 3345,  902,
       4390, 3345, 3809, 2297, 1598, 2646, 3457, 2065, 2174, 1948, 1366,
       1369, 1128, 2996,  553, 1369, 3809, 2878, 1369, 1017, 1484, 4387,
        662, 1017, 1710, 3228,  553, 1484, 1475, 3342, 1833, 1950, 2646,
       2878, 2878, 1833, 2643, 3228, 3806, 5550, 1598, 3113, 1252, 3228,
       1833, 1484, 3113, 4390, 3809, 2179, 3809, 2996, 1598, 2646, 4273,
       1134, 1948, 3228, 1243, 1833, 2297, 2643, 2062, 1246, 2878, 3345,
       3342, 4622, 1252, 2297, 1824, 2182,  662, 3923, 4969, 4505, 2414,
       2529])

In [142]:
test_label

array([2643, 3342, 3577, 1484, 2297, 2996, 2414,  902,  896, 2414, 1718,
       3228, 3460, 2065,  665, 2646,  902,  553, 4622,  788, 3345,  902,
       4390, 3345, 3809, 2297, 1598, 2646, 3225, 2065, 2174, 1948, 1366,
       1369, 1128, 2996,  553, 1369, 3809, 2878, 1369, 1017, 1484, 4387,
        662, 1017, 1710, 3228,  553, 1484, 1475, 3342, 1833, 1950, 2646,
       2878, 2878, 1833, 2643, 3228, 3806, 5318, 1598, 3113, 1252, 3228,
       1833, 1484, 3113, 4390, 3809, 2179, 3809, 2996, 1598, 2646, 4273,
       1134, 1948, 3228, 1243, 1833, 2297, 2643, 2062, 1017, 2878, 3345,
       3342, 4622, 1252, 2297, 1824, 2182,  662, 3923, 4969, 4505, 2414,
       2529])

In [143]:
from sklearn.metrics import accuracy_score
accuracy_score(predicted,test_label)

0.96

RANDOM FOREST CLASSIFIER

In [0]:
from sklearn.ensemble import RandomForestClassifier
rclf=RandomForestClassifier(n_estimators=10)

In [0]:
trained=rclf.fit(train_data,train_label)

In [0]:

predicted=trained.predict(test_data)

In [147]:
accuracy_score(predicted,test_label)

0.85

KNN Classifier

In [0]:
from sklearn.neighbors import KNeighborsClassifier
kclf=KNeighborsClassifier(n_neighbors=5)

In [0]:
trained=kclf.fit(train_data,train_label)

In [0]:
predicted=trained.predict(test_data)

In [151]:
accuracy_score(predicted,test_label)

0.14

ONE HOT ENCODING for KNN

In [0]:
from sklearn.preprocessing import OneHotEncoder

In [0]:
fcolumn = OneHotEncoder(categorical_features=[0])

In [154]:
features=fcolumn.fit_transform(features).toarray()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [155]:
features

array([[ 1.,  0.,  0., ..., 36.,  5.,  5.],
       [ 1.,  0.,  0., ..., 55.,  3.,  5.],
       [ 1.,  0.,  0., ..., 61.,  8.,  1.],
       ...,
       [ 0.,  0.,  0., ..., 49.,  9.,  7.],
       [ 0.,  1.,  0., ..., 56.,  6.,  7.],
       [ 0.,  0.,  1., ..., 64.,  4.,  9.]])

In [0]:
train_data,test_data,train_label,test_label = train_test_split(features,label,test_size=0.1)

In [0]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
train_data=sc.fit_transform(train_data)
test_data=sc.transform(test_data)

In [0]:
trained=kclf.fit(train_data,train_label)

In [177]:
predicted=trained.predict(test_data)
predicted

array([2182, 2182, 2182,  788,  894, 2182, 1137, 2182,  894,  788, 2182,
       1369, 2182, 3577,  894, 2182, 2182,  788, 2182,  788, 2182, 2182,
       2182, 2182, 2182, 2182, 2300, 2182, 2182, 2182, 2182, 2182, 2182,
       2182, 1137, 2182, 2182, 2182, 2182, 2182, 2182, 3577, 2300, 2300,
       1137, 3577, 2182, 1137, 2182, 2182,  788, 2182, 1137, 2182, 2182,
        788, 1369, 2182, 1137, 2182, 2182,  788, 1137, 2182, 2182, 2182,
        894,  788, 2182, 2182, 2182,  788, 2182, 2182, 2300, 2300, 2182,
       2182, 2182, 2182,  788, 2182, 2182, 2182, 3577, 2182, 2300, 2182,
       2182, 2182,  788, 2182, 3577, 2182, 1137,  894, 2182, 2182, 1137,
       2300])

In [178]:
accuracy_score(predicted,test_label)

0.02