In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [0]:
df=pd.read_csv('social.csv')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [42]:
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
# Removing user ID
filterdata=df.iloc[0:,2:]

In [44]:
filterdata.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [0]:
# We need age and salary only
features=filterdata.iloc[0:,0:2]
label=filterdata.iloc[0:,2]

In [0]:
# Dividing the dataset into training and testing .. 
train_data,test_data,train_label,test_label=train_test_split(features,label,test_size=0.2)

In [0]:
# Now we need feature scaling on age and salary, so that their values must be compatible to each other.. and they do not dominate each other.
from sklearn.preprocessing  import StandardScaler
sc=StandardScaler()
# Applying on Training data
train_data = sc.fit_transform(train_data)

In [0]:
# Testing data scaling
test_data = sc.transform(test_data)   # Since train data is feature scaled.. so we have to do that to this one also.

In [0]:
# Importing RandomForest Classifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
# Random forest call with number of decision Tree
rclf=RandomForestClassifier(n_estimators=20)   # Calling random forest classifier with number of trees we want to make...(n_estimators is number of trees, by default - 10)

In [0]:
# Now Training the data
trained=rclf.fit(train_data,train_label)

In [0]:
# Now predicting
predicted=trained.predict(test_data)

In [53]:
# Getting the Accuracy score.
accuracy_score(predicted,test_label)

0.9375